// IMG RESET 
img {
    width: 100%;
}

// Ul reset 
ul {
    list-style-type: none;
}

// A reset 
a {
    color: inherit;
}

// General reset 
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}