// IMG RESET 
img {
    width: 100%;
}

// Ul reset 
ul {
    list-style-type: none;
}

// A reset 
a {
    color: inherit;
    text-decoration: none;

    &:hover {
        color: inherit;
        text-decoration: none;
    }
}

// General reset 
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
